@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>@ViewBag.Title</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sticky-footer-navbar/">



    <link rel=" stylesheet" href="~/Bootstrap/css/membersStyle.css" />

    <link rel="stylesheet" href="https://localhost:7223/Bootstrap/css/bootstrap.min.css" />


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        /*To escape the character and differentiate it from server side code and css code, it uses double @@*/
        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body class="d-flex flex-column h-100">

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <partial name="~/Views/Invoicing/_PrintView.cshtml" />
    </main>



    <script src="~/Bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>


