@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GymManager.Core.MembershipsTypes.MembershipType

@section Head {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />

}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Views/Create.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}

<div class="container">

    <div class="row">
        <h5 class="mt-2 col-8">   Create Membership Type  </h5>

        <div class="col-4">
            <a asp-action="Index" class="btn btn-outline-info float-end mt-2">  Back </a>

        </div>

    </div>
    <form asp-action="Create">

        <div class="mb-3">
            <label asp-for="Name" class="form-label"> Name </label>
            <input type="text" class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"> </span>
        </div>

        <div class="mb-3">
            <label asp-for="Cost" class="form-label">Cost </label>
            <input type="number" class="form-control" asp-for="Cost" />
            <span asp-validation-for="Cost" class="text-danger"> </span>

        </div>

        <div class="mb-3">
            <label asp-for="Duration" class="form-label">Duration (Months) </label>
            <input type="number" class="form-control" asp-for="Duration" />
            <span asp-validation-for="Duration" class="text-danger"> </span>

        </div>

        <button type="submit" class="btn btn-primary mb-3">
            Submit
        </button>


    </form>


</div>