@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderRight{
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

}

@section Head{
    <style>
        h1 {
            color: red;
        }
    </style>
}
@section Scripts {
    <script>
        function mostrarMensaje() {
            alert("This is the members page");
        }
        setTimeout(mostrarMensaje, 3000);
    </script>
}

<div class="container">
    <h1> This is a test</h1>
</div>